.center{
  width: 100%; 
  height: 92vh; 
  display: flex; 
  justify-content: center; 
  align-items: center
}

.container{
  width:551px; 
  height:278px; 
  border:2px solid #6E93B3; 
  padding:30px 79px 19px;
}

.timezone{background: #F2F2F2; 
  padding:10px; 
  font-size: 18px; 
  border: 1px solid #6E93B3; 
  border-radius: 5px;
  width: 100%;
}


.label{padding:10px 10px; 
  display: inline-block; 
  width: 47.5%; 
  border: 2px solid #487CAA; 
  background: #5B9BD5; 
  color: white; 
  font-size: 18px
}

.input{
  width:47.5%; 
  display: inline-block; 
  margin-left: 5%; 
  border: 2px solid #92ADC6; 
  height: 100%; 
  padding: 0 10px; 
  font-size: 18px;
}


.user{
  margin-top: 20px; 
  display: flex; 
  height: 40px
}

.login-btn{
  text-align: center; 
  margin: 40px
}

button{
  background: #5b9BD5; 
  padding: 18px 40px; 
  border: 2px solid #487CAA; 
  border-radius: 10px;
  color: white; font-size: 18px; 
  cursor: pointer
}

button:hover{
  background: #487CAA
}